@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --color1: #ffffff;
  --color2: rgb(24 56 213);
}

* {
  margin: 0;
  padding: 0;
  /* border: solid 1px red; */
}

body {
  /* border: solid 1px red; */
  font-family: "Inter", sans-serif;
  background: rgb(22, 22, 22);
  color: var(--color1);
  max-height: 100vh;
}

nav {
  /* border: solid 1px red; */
  display: flex;
  height: 8vh;
  width: 100%;
}

nav h2 {
  /* border: solid 1px rgb(0, 255, 13); */
  width: 50%;
  margin: auto;
  padding-left: 30px;
}

nav ul {
  /* border: solid 1px rgb(0, 255, 13); */
  list-style: none;
  width: 50%;
  display: flex;
  margin: auto;
  justify-content: space-between;
}

nav ul li {
  /* border: solid 1px rgb(255, 0, 191); */
  display: flex;
  padding-right: 30px;
}

.header {
  /* border: solid 1px red; */
  display: flex;
  /* max-height: 700px; */
  height: 70vh;
  width: 100%;
}
.header-left {
  /* border: solid 1px rgb(0, 255, 0); */
  width: 50%;
  display: flex;
}
.header-left-container {
  /* border: solid 1px rgb(255, 0, 0); */
  margin: auto;
  padding: 0 30px 0 30px;
}
.header-left-container h1 {
  /* border: solid 1px rgb(255, 0, 200); */
  font-size: 3.5rem;
}
.header-left-container h3 {
  /* border: solid 1px rgb(255, 0, 200); */
  font-size: 1.4rem;
  color: var(--color2);
  margin: 10px 10px 10px 0px;
}
.header-left-container p {
  /* border: solid 1px rgb(255, 0, 200); */
  font-size: 0.8rem;
}

.header-right {
  /* border: solid 1px rgb(21, 255, 0); */
  display: block;
  width: 50%;
}
.header-right img {
  /* border: solid 1px rgb(255, 0, 221); */
  display: block;
  height: 90%;
  width: 90%;
  margin: 20px auto;
}
.infos {
  background: rgb(7, 7, 7);
  border-radius: 25px;
  height: 22vh;
  display: flex;
  width: 100%;
}

.infos-left {
  /* border: solid 1px rgb(255, 0, 255); */
  width: 30%;
  display: flex;
  flex-direction: column;
}

.infos-left h3 {
  /* border: 1px solid rgb(153, 51, 51); */
  margin: 10px;
}

.btn-container {
  /* border: 1px solid rgb(51, 153, 51); */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40%;
}

button {
  margin: 3px 10px;
  border-radius: 10px;
  background: var(--color2);
  color: var(--color1);
  height: 45px;
  font-size: 1.1rem;
}
.infos-right {
  /* border: solid 1px rgb(47, 0, 255); */
  width: 70%;
  display: flex;
  flex-direction: column;
}

.infos-right h3 {
  margin: 10px;
}

.investors {
  /* border: 1px solid red; */
  display: block;
  margin: auto;
}

.img-container {
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.img-container img {
  /* border: 1px solid rgb(21, 255, 0); */
  width: 10%;
}
